<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8" />
    <meta content="initial-scale=1, width=device-width" name="viewport" />
    <title>FÄRGER</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
    <!-- Bootstrap CSS-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css"
      rel="stylesheet" />
    <!-- Bootstrap icons-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="https://unpkg.com/vue@3"></script>
    <style>
      * {
        margin: 2px;
      }
      main {
        background: rgb(238, 236, 236);
      }
      li {
        width: 400px;
        border: 1px solid lightslategray;
        margin: 5px;
      }
      input,
      h1 {
        margin: 10px 40px;
        color: rgb(40, 10, 67);
      }
    </style>
  </head>

  <body>
    <main>
      <div id="app" class="d-flex">
        <section>
          <h1>FÄRGER</h1>
          <!-- SIDA KONTROLL -->
          <div class="buttons">
            <input
              :disabled="page === 1"
              @click="previous"
              type="button"
              value="Föregående" />
            <strong> Du är på sida {{ page }}</strong>
            <input @click="next" type="button" value="Nästa" />
          </div>

          <ul class="d-flex flex-wrap" v-if="colors !== null">
            <li v-for="color in colorsByPage" class="d-flex align-items-center">
              <div :style="{ background: color.hex, color:color.hex }">
                -------
              </div>
              <div :style="{ color:color.hex }">
                {{ color.name }} - {{ color.hex }}
              </div>
            </li>
          </ul>
        </section>
      </div>
      <script>
        Vue.createApp({
          data() {
            return {
              colors: [],
              page: 1,
            };
          },
          created() {
            fetch("https://api.color.pizza/v1/")
              .then((response) => response.json())
              .then((result) => {
                this.colors = result.colors;
              })
              .catch((error) => {
                console.log("FETCH colors error:", error);
              });
          },
          methods: {
            next() {
              this.page++;
            },
            previous() {
              this.page--;
            },
          },
          computed: {
            colorsByPage() {
              const start = (this.page - 1) * 99;
              return this.colors.slice(start, start + 99);
            },
          },
        }).mount("#app");
      </script>
    </main>
  </body>
</html>
